{% extends 'cms/base.html' %}

{% block title %}
    添加員工
{% endblock %}

{% block head %}

{% endblock %}

{% block content-header %}
    <h1>添加員工</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <lable for="telephone-input">手機號碼:</lable>
                            <input type="text" name="telephone" class="form-control">
                        </div>
                        <div class="checkbox">
                            {% for group in groups %}
                                <label for="" style="margin-right:20px">
                                    <input type="checkbox" value="{{ group.pk }}" name="groups">{{ group.name }}
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary pull-right">立即添加</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}