@import "../common/init.scss";
@import "../common/constants.scss";
@import "../common/header.scss";
@import "../common/body.scss";
@import "../common/footer.scss";
@import "course_nav.scss";

.main {

  .wrapper {
    margin-top: 20px;
    width: 1070px;

    .course-wrapper {

      .course-info {
        background: #fff;
        padding: 20px;
        box-sizing: border-box;

        .course-title {
          color: $mainFrontColor;
          font-size: 20px;
        }

        .price-group {
          overflow: hidden;
          margin-top: 20px;

          .share-group {
            float: left;

            .title {
              color: $assistFrontColor;
              font-size: 14px;
              display: inline-block;
              height: 40px;
              line-height: 40px;
            }
          }

          .buy-group {
            float: right;

            .price {
              font-size: 16px;
              display: inline-block;;
              height: 40px;
              line-height: 40px;
            }

            .free {
              color: $freeColor;
            }

            .pay {
              color: $payColor;
            }

            .buy-btn {
              color: #fff;
              margin-left: 20px;
              display: inline-block;
              background: #ff8d3f;
              border-radius: 5px;
              padding: 10px 20px;
              box-sizing: border-box;
            }
          }
        }
      }

      .videos-group {
        width: 100%;
        height: 600px;
        background: pink;
      }
    }

    .bottom-wrapper {
      overflow: hidden;
      margin-top: 20px;

      .course-detail-wrapper {
        width: 700px;
        float: left;

        .item-group {
          background: #fff;
          padding: 20px;
          box-sizing: border-box;

          .item-title {
            color: $mainFrontColor;
            font-size: 18px;
            border-left: 5px solid $themeColor;
            padding-left: 16px;

          }

          .teacher-group {
            overflow: hidden;
            margin-top: 20px;

            .avatar-group {
              float: left;
              width: 60px;
              height: 60px;
              margin-right: 10px;

              .avatar {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }

            .teacher-info {
              color: $assistFrontColor;

              .teacher-name {
                line-height: 30px;
              }

              .teacher-desc {
                line-height: 20px;
              }

            }
          }

          .item-content {
            margin-top: 20px;
            color: rgb(68, 68, 68);
            line-height: 1.8;
          }
        }
      }

      .recommand-wrapper {
        width: 355px;
        float: right;
        background: #fff;
        box-sizing: border-box;
        padding: 20px;

        .recommand-title {
          font-size: 18px;
          color: $mainFrontColor;
          line-height: 50px;
        }
        .course-list{
          li{
            overflow: hidden;
            padding: 20px 0;
            border-bottom: 1px solid $lineColor;
            .course-info-group{
              float: left;
              width: 150px;
              height: 90px;
              position: relative;
              .course-title{
                font-size: 16px;
                color: $mainFrontColor;
              }
              .teacher{
                font-size: 14px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                color: $assistFrontColor;
              }
            }
            .thumbnail-group{
              float: right;
              width: 160px;
              height:90px;
              .thumbnail{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

    }

  }
}

